# Python Virtual Environment
.venv/
venv/
*.venv

# IDE and Editor folders
.vscode/
.idea/
.idx/

# Compiled Python files
__pycache__/
*.py[cod]
*.class

# OS-specific files
.DS_Store
Thumbs.db

# Firebase files
.firebase/
.firebaserc
